body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #FFEBD1;
    text-align: center;
}

header {
    text-decoration: none;
    padding: 0px 20px 0px 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

header nav ul {
    list-style: none;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    size: 1rem;
}
li a {
    text-decoration: none;
    color: #79280E;
}
nav ul li a:hover {
    display: inline-block;
    text-decoration: underline wavy #003E1C;
    color: #2f2f30;
}

h1 {
    margin-top: 30px;
    font-size: 2rem;
    color: #79280E;
}

h2 {
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    background: #79280E;
    width: 2000px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.card h2 {
    margin-top: 0;
}

.vpn {
    color: red;
    font-weight: bold;
}

.preview {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

.preview iframe {
    width: 100%;
    height: 1000px;
    border: none;
    transform: scale(1);
    transform-origin: top left;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #3B341F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #003E1C;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
}

.back-btn {
    display: inline-block;
    padding: 10px 18px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    color: #79280E;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.back-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-3px);
}

